.app {
  background-color: #f1f2f5;

}

.app__main {
  display: flex;
  justify-content: space-between;

}
 
@media only screen and (min-width: 0px) and (max-width: 1120px) {
  
  
.app__main {
  display: flex;
  justify-content: space-evenly;

}
    }